<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
    <listeners>
        <listener class-name="com.floud.mytestngapplication.MyListener"/>
    </listeners>
    <test name="My TestNG Application">
        <parameter name="lastName" value="Khalturin"/>
        <classes>
            <class name="com.floud.mytestngapplication.ExampleUnitTest"/>
        </classes>
    </test> <!-- My TestNG Application -->
</suite> <!-- Default Suite -->
